
.bg-primary
{
    background-color: #6f42c1 !important;
}




.bg-secondary
{
    background-color: black !important;
}



#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #6f42c1 ;
}

.btn-primary {
    color: #fff;
    background-color: #6f42c1;
    border-color: #6f42c1;
}